body, * {
  margin: 0;
  font-family: Inter !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus, *:active, *:focus-visible, *:focus-within{
  outline: none !important;
}
td:focus {
  outline: none !important;
}
.MuiDataGrid-row:nth-child(odd){
  background-color: #F4F7FC !important; /* Light gray for odd rows */
}


.MuiDataGrid-row:nth-child(even) {
  background-color: #ffffff !important; /* White for even rows */
}

.MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background: #F4F7FC !important;
  background-color: #F4F7FC !important;
}

.MuiInputBase-root {
  padding-right: 1px !important;
}