body,
* {
  margin: 0;
  font-family: Inter !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus,
*:active,
*:focus-visible,
*:focus-within {
  outline: none !important;
}
td:focus {
  outline: none !important;
}
.MuiDataGrid-row:nth-child(odd) {
  background-color: #f4f7fc !important; /* Light gray for odd rows */
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #ffffff !important; /* White for even rows */
}

.MuiDataGrid-root .MuiDataGrid-container--bottom [role='row'] {
  background: #f4f7fc !important;
  background-color: #f4f7fc !important;
}

.MuiInputBase-root {
  padding-right: 1px !important;
}
.MuiDataGrid-columnHeaderTitleContainer,
.columnHeader {
  font-size: 12px;
  color: #606f89;
  font-weight: 500;
  background-color: #f4f7fc;
  font-family: 600;
}

.tableRow {
  border-bottom: none !important;
  border-top: none !important;
}

[class^='MuiDataGrid']:not(:last-child) {
  border-bottom: none !important;
  border-top: none !important;
}

[role='gridcell']:last-child {
  border-bottom: none !important;
  border-top: none !important;
}
